*{
    color: black;
}
header{
    color: black;
    background-color: rgb(215, 191, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
h1{
     font-size: 25px;
    font-weight: bold;
}
    
.backgroundImg{
    padding: 5em 0;
    border-image: none;
    background-image: url(../images/htmlPortfolioBackgroundPic.jpg);
    
}
nav{
    display: block;
}
nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    color: black;

}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .smallCard {
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: row;
    flex: 3;
    height: 10px;
  
  }

  .smallCard > img {
    width: 95%;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    border-color: rgb(215, 191, 167);
  }  

  .medCard {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(215, 191, 167);
    border-width: thick;
    flex: 0 0 300px;
  }
  .medCard > img {
    width: 100%;
  }
  .cardHeader {
    height: 50px;
    width: 200px;
    background-color: rgb(215, 191, 167);
    color: black;
    position: absolute;
    font-size: 25px;
    
    }
  
  @media screen and (max-width: 500px) {
    .smallCard {
      width: 100%;
    }
  }