*{
    color: black;
    box-sizing: border-box;
}
header{
    color: black;
    background-color: rgb(215, 191, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
h1{
     font-size: 25px;
    font-weight: bold;
}
section h2{
  margin-left: 35%;
  text-decoration: underline;
}
#abtMeP{
  margin-right: 25%;
}
    
.backgroundImg{
    padding: 5em 0;
    border-image: none;
    background-image: url(../images/htmlPortfolioBackgroundPic.jpg);
    
}
nav{
    display: flex;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    color: black;

}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .smallCard {
    display: inline-flex;
    float: left;
    flex-wrap:wrap;
    flex-direction: row;
    flex: 2;
    width: 50%;
    margin-bottom: 5px;
   
  
  }

  .smallCard > img {
    width: 95%;
    height: 400px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    border-color: rgb(215, 191, 167);
  
  }  
 
  .medCard {
    
    flex-direction: row;
    flex: 1;
    margin-bottom: 5px;
    
  }
  
  .medCard > img {
    width: 98%;
    height: 500px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(215, 191, 167);
    border-width: thick;
    
  }
  .cardHeader {
    height: 50px;
    width: 200px;
    background-color: rgb(215, 191, 167);
    color: black;
    position: absolute;
    font-size: 25px;
    }
    
 
  aside{
    display: flex;
    display: block;
    flex: 1;
    background-color: rgb(215, 191, 167);
    float: right;
    text-align: center;
    width: 22%;
    padding-right: 5px;
  
  }
  aside p a{
    display: block;
  }
  #asideHead{
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
  }
 
  #contactMeSection{
    height: 100%;

  }
  .contactAvatar{
    margin-left: 35%;
  }
  .footer {
    padding: 30px;
    clear: both;
    background-color: rgb(215, 191, 167);
    color: black;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
  @media screen and (max-width: 500px) {
    .smallCard {
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .medCard {
      width: 100%;
    }
  }
  @media screen and (max-width: 825px) {
    aside {
      width: 100%;
      background-color: lightgray;
    }
  }
  @media screen and (max-width: 725px) {
    nav {
      width: 100%;
      flex-wrap: wrap;
      background-color: lightgray;
    }
  }
  